<?xml version="1.0" encoding="UTF-8"?>

<!-- Licensed under Apache 2.0 -->
<!-- Copyright 2011, National Research Council of Canada -->
<!-- Property of Lakehead University -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SAVOIR_WebBroker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SavoirWebBroker</display-name>
    <servlet-name>SavoirWebBroker</servlet-name>
    <servlet-class>broker.SavoirWebBroker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirWebBroker</servlet-name>
    <url-pattern>/SavoirWebBroker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavoirRequestToken</display-name>
    <servlet-name>SavoirRequestToken</servlet-name>
    <servlet-class>OAuth.SavoirRequestToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirRequestToken</servlet-name>
    <url-pattern>/SavoirRequestToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavoirRequestAuthorization</display-name>
    <servlet-name>SavoirRequestAuthorization</servlet-name>
    <servlet-class>OAuth.SavoirRequestAuthorization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirRequestAuthorization</servlet-name>
    <url-pattern>/SavoirRequestAuthorization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavoirAccessToken</display-name>
    <servlet-name>SavoirAccessToken</servlet-name>
    <servlet-class>OAuth.SavoirAccessToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirAccessToken</servlet-name>
    <url-pattern>/SavoirAccessToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavoirLogout</display-name>
    <servlet-name>SavoirLogout</servlet-name>
    <servlet-class>OAuth.SavoirLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirLogout</servlet-name>
    <url-pattern>/SavoirLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavoirUserAdmin</display-name>
    <servlet-name>SavoirUserAdmin</servlet-name>
    <servlet-class>userAdmin.SavoirUserAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirUserAdmin</servlet-name>
    <url-pattern>/SavoirUserAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavoirSessionAdmin</display-name>
    <servlet-name>SavoirSessionAdmin</servlet-name>
    <servlet-class>sessionAdmin.SavoirSessionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirSessionAdmin</servlet-name>
    <url-pattern>/SavoirSessionAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavoirScenarioAdmin</display-name>
    <servlet-name>SavoirScenarioAdmin</servlet-name>
    <servlet-class>scenarioAdmin.SavoirScenarioAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirScenarioAdmin</servlet-name>
    <url-pattern>/SavoirScenarioAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavoirResourceAdmin</display-name>
    <servlet-name>SavoirResourceAdmin</servlet-name>
    <servlet-class>resourceAdmin.SavoirResourceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavoirResourceAdmin</servlet-name>
    <url-pattern>/SavoirResourceAdmin</url-pattern>
  </servlet-mapping>
</web-app>
